# Dependencies
node_modules/

# Build output
build/

# Expo
.expo/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Android build artifacts
android/.gradle/
android/build/
android/.cxx/

# iOS build artifacts
ios/.xcode.env.local

/example/android
/example/ios
/example/assets
